.shopItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--dark);
  border-radius: 5px;
  margin: 1em 2em;
  padding: 2em 4em;
}

.subheader {
  margin-top: 0;
  font-size: 18px;
}

.text {
  font-size: 14px;
}

.purchaseButton {
  border: none;
  border-radius: 5px;
  width: 75%;
  aspect-ratio: 3 / 1;
  background-color: var(--royal-purple);
  transition: background-color 0.3s ease, color 0.3s ease;
  color: white;
}

.purchaseButton:hover {
  background-color: var(--royal-purple-fade);
  color: var(--dark);
}
